@font-face {
	font-weight: 300;
	font-family: "Museosanscyrl";
	font-style: normal;
	src: url("/fonts/museosanscyrl-300.woff2") format("woff2"), url("/fonts/museosanscyrl-300.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-weight: 500;
	font-family: "Museosanscyrl";
	font-style: normal;
	src: url("/fonts/museosanscyrl-500.woff2") format("woff2"), url("/fonts/museosanscyrl-500.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-weight: 700;
	font-family: "Museosanscyrl";
	font-style: normal;
	src: url("/fonts/museosanscyrl-700.woff2") format("woff2"), url("/fonts/museosanscyrl-700.woff") format("woff");
	font-display: swap;
}
@font-face {
	font-weight: 900;
	font-family: "Museosanscyrl";
	font-style: normal;
	src: url("/fonts/museosanscyrl-900.woff2") format("woff2"), url("/fonts/museosanscyrl-900.woff") format("woff");
	font-display: swap;
}

:root {
	--base-font: "Museosanscyrl";
	--base-font-weight: 500;
	--base-font-size: 16px;
	--base-line-height: 1.2;

	--conatiner-width: 1200px;
	--conatiner-small-width: 996px;


	--dark: #1a1a1a;
	--light: #fff;
	--secondary: #949494;
	--seconadry-lighter: #f9f9f9;
	--accent: #36ba5f;
	--blue: #93bbea;
	--box-shadow: #1a1a1a0d;

}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--dark);
	font-weight: var(--base-font-weight);
	font-size: var(--base-font-size);
	font-family: "Museosanscyrl", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: var(--base-line-height);
	background-color: var(--light);
}

.container {
	width: 100%;
	max-width: var(--conatiner-width);
	margin: 0 auto;
	padding: 0 12px;
}

.container--small {
	max-width: var(--conatiner-small-width);
}

.button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	gap: 8px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	min-width: 160px;
	min-height: 48px;
	padding: 8px 16px;
	color: var(--dark);
	text-decoration: none;
	background-color: var(--light);
	border-radius: 12px;
}

.button--hover-green:hover {
	color: var(--accent);
	-webkit-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

.button--hover-opacity:hover {
	opacity: .7;
	-webkit-transition: opacity .2s ease;
	-o-transition: opacity .2s ease;
	transition: opacity .2s ease;
}

.button--online {
	min-width: 224px;
	color: var(--light);
	background-color: var(--accent);
}

.button--secondary {
	min-width: initial;
	background-color: var(--seconadry-lighter);
}

.support {
	padding: 40px 0;
}

.support__wrapper {
	position: relative;
	padding: 40px 16px 54px;
	overflow: hidden;
	color: var(--light);
	background-color: var(--blue);
	border-radius: 40px;
}

.support__wrapper::before {
	position: absolute;
	top: 40px;
	left: 0;
	width: 274px;
	height: 195px;
	background-image: url("/img/support-before.svg");
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
}

.support__wrapper::after {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 276px;
	height: 226px;
	background-image: url("/img/support-after.svg");
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
}

.support__title {
	position: relative;
	z-index: 2;
	margin-bottom: 4px;
	font-weight: 900;
	font-size: 60px;
	text-align: center;
}

.support__description {
	position: relative;
	z-index: 2;
	max-width: 535px;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 17px;
	text-align: center;
}

.support__links {
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 8px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

@media screen and (max-width: 1024px) {

	.support__title {
		font-size: 48px;
	}
}
@media screen and (max-width: 768px) {

	.support__wrapper::before {
		top: 50%;
		width: 150px;
	}

	.support__wrapper::after {
		width: 150px;
		height: 124px;
	}

	.support__title {
		font-size: 32px;
	}
}
@media screen and (max-width: 576px) {

	.support__title {
		font-size: 24px;
	}
}

.join {
	padding-top: 42px;
}

.join__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 40px;
	border-radius: 40px;
	-webkit-box-shadow: 0 20px 60px 0 var(--box-shadow);
	        box-shadow: 0 20px 60px 0 var(--box-shadow);
}

.join__description {
	margin-bottom: 16px;
	font-weight: 600;
	font-size: 15px;
}

.join__title {
	font-size: 40px;
}

.join__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 14px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.join__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 56px;
	color: var(--accent);
	background-color: var(--seconadry-lighter);
	border-radius: 13.33px;
	aspect-ratio: 1;
}

.join__link:hover {
	color: var(--light);
	background-color: var(--accent);
	-webkit-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

@media screen and (max-width: 1024px) {

	.join__title {
		font-size: 48px;
	}
}
@media screen and (max-width: 900px) {

	.join__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 32px;
	}

	.join__links {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}
@media screen and (max-width: 768px) {

	.join__title {
		font-size: 32px;
	}
}
@media screen and (max-width: 576px) {

	.join__title {
		font-size: 24px;
	}
}

.faq {
	padding-top: 80px;
}

.faq__title {
	font-size: 40px;
	text-align: center;
}

.faq__slider {
	padding: 0 15px;
}

.faq__slide {
	width: 282px;
	height: auto;
	min-height: 160px;
	margin-top: 32px;
	margin-bottom: 40px;
	padding: 16px;
	padding-right: 10px;
	border-radius: 16px;
	-webkit-box-shadow: 0 0 30px 0 var(--box-shadow);
	        box-shadow: 0 0 30px 0 var(--box-shadow);
}

.slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	color: var(--dark);
	text-decoration: none;
}

.slide__title {
	margin-bottom: 8px;
	font-weight: 600;
	font-size: 20px;
}

.slide__text {
	font-weight: 400;
	font-size: 15px;
}

.swiper-button-next,
.swiper-button-prev {
	width: 44px;
	height: 44px;
	color: transparent;
	background-color: var(--light);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 100%;
}

.swiper-button-prev {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 12" height="12" width="7"><g xmlns="http://www.w3.org/2000/svg" transform="matrix(-1 0 0 -1 7 12)"><path d="M0.289998 0.709999C-0.100002 1.1 -0.100002 1.73 0.289998 2.12L4.17 6L0.289998 9.88C-0.100002 10.27 -0.100002 10.9 0.289998 11.29C0.679998 11.68 1.31 11.68 1.7 11.29L6.29 6.7C6.68 6.31 6.68 5.68 6.29 5.29L1.7 0.699999C1.32 0.319999 0.679998 0.319999 0.289998 0.709999Z" fill="%231A1A1A" /></g></svg>');
}

.swiper-button-next {
	background-image: url('data:image/svg+xml,<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.289998 0.709999C-0.100002 1.1 -0.100002 1.73 0.289998 2.12L4.17 6L0.289998 9.88C-0.100002 10.27 -0.100002 10.9 0.289998 11.29C0.679998 11.68 1.31 11.68 1.7 11.29L6.29 6.7C6.68 6.31 6.68 5.68 6.29 5.29L1.7 0.699999C1.32 0.319999 0.679998 0.319999 0.289998 0.709999Z" fill="%231A1A1A"/></svg>');
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 0;
}

.swiper-pagination-bullet-active {
  background: var(--accent);
}

@media screen and (max-width: 1024px) {

	.faq__title {
		font-size: 48px;
	}
}
@media screen and (max-width: 768px) {

	.faq__title {
		font-size: 32px;
	}

	.faq__slider {
		padding: 0 8px;
	}
}
@media screen and (max-width: 576px) {

	.faq__title {
		font-size: 24px;
	}
}

.ref {
	padding-top: 40px;
	padding-bottom: 80px;
}

.ref__title {
	margin-bottom: 32px;
	font-size: 40px;
	text-align: center;
}

.ref__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 12px;
}

.ref__link {
	position: relative;
	padding: 20px 48px 20px 24px;
	color: var(--dark);
	text-decoration: none;
	border-radius: 16px;
	-webkit-box-shadow: 0 0 30px 0 var(--box-shadow);
	        box-shadow: 0 0 30px 0 var(--box-shadow);
}

.ref__link::after {
	position: absolute;
	top: 50%;
	right: 16px;
	display: block;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_4601_165)"><path d="M9.29 6.70999C8.9 7.09999 8.9 7.72999 9.29 8.11999L13.17 12L9.29 15.88C8.9 16.27 8.9 16.9 9.29 17.29C9.68 17.68 10.31 17.68 10.7 17.29L15.29 12.7C15.68 12.31 15.68 11.68 15.29 11.29L10.7 6.69999C10.32 6.31999 9.68 6.31999 9.29 6.70999Z" fill="%23949494"/></g><defs><clipPath id="clip0_4601_165"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
}

.ref__link:hover {
	color: var(--accent);
	-webkit-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

.link__title {
	max-width: 396px;
	font-weight: 600;
	font-size: 20px;
}

.link__description {
	max-width: 396px;
	margin-top: 4px;
	color: var(--secondary);
	font-weight: 400;
	font-size: 13px;
}

@media screen and (max-width: 1024px) {

	.ref__title {
		font-size: 48px;
	}
}
@media screen and (max-width: 768px) {

	.ref__title {
		font-size: 32px;
	}
}
@media screen and (max-width: 576px) {

	.ref__title {
		font-size: 24px;
	}
}

.article {
	padding: 22px 0 80px;
}

.article__wrapper {
	max-width: 690px;
}

.article__title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 12px;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin-bottom: 16px;
}

.article__title h1 {
	font-weight: 900;
	font-size: 24px;
}

.article__text {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4;
}

.article__connect {
	margin: 40px 0 16px;
	font-weight: 600;
	font-size: 13px;
}

.article__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 8px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}